doctype html
include plantilla
#divSecundario
            form#formularioReceta(action="/guardarReceta", method="POST")
            
                #divProfecional 
                        label= profecional[0].nombre
                        label= profecional[0].apellido 
                        label= profecional[0].documento 
                        label= profecional[0].profecion
                        label= profecional[0].especialidad
                        label= profecional[0].domicilio 
                        label= profecional[0].matriculaprofecional
            input(type="submit", value="Enviar")
