doctype html
include plantilla
#divSecundario
            form#formularioReceta(action="/guardarReceta", method="POST")
            
                #divProfecional 
                        h3 PROFECIONAL
                        label= profecional[0].nombre
                        label= profecional[0].apellido 
                        br
                        label DNI :
                        label= profecional[0].documento 
                        br
                        label Profecion :
                        label= profecional[0].profecion
                        label ,Especialida :
                        label= profecional[0].especialidad
                        br
                        label Matricula numero :
                        label= profecional[0].matriculaprofecioinal
                #divPaciente 
                       h3 PACIENTE 
                       label(for="dniP") DNI sel paciente :
                       input(type="number", id="dniP", name="dniP")
                       br
                       label(for="nombreP") Nombre :
                       input(type="text", id="nombreP", name="nombreP")
                       br
                       label(for="apellidoP") Apellido :
                       input(type="text" ,id="apellidop", name="apellidoP")
                       br
                       label(for="fechaNP") Fecha de nacimiento :
                       input(type="date", id="fechaNP", name="fechaNP") 
                       br
                       label(for="sexoP") Sexo :
                       input(type="text", id="sexoP", name="sexoP")
                       br
                       labe(for="obraSP") Obra social :
                       input(type="text", id="obraSP", name="obraSP")
                       br
                       label(for="plan") Plan :
                       input(type="text", id="plan" ,name="plan")
                #divReceta 
                    #divDiagnostico 
                       h3 DIAGNOSTICO 
                       textarea(type="textarea", id="diagnostico", name="diagnostico")
                    #divTipo
                       select(id="tipo", name="tipo")
                            option(value="prestacion") Prestacion
                            option(value="medicamento") Medicamento
                    #divMedicamento 
                        select(id="tipoMedicamento",name="tipoMedicamento")
                            
                    #divPrestacion
                    button (type="button") Agregar Linea        
                           
            input(type="submit", value="Enviar")
